<div id="post-{{id}}" class="card">
    <a class="card-details" href="/post/{{id}}" class="anchor-buttons"><img src="../public/images/arrow.png" alt=""></a>
    <img class="card-image" draggable="false" src="/{{thumbnail}}" alt="Missing image">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{content}}</p>
    </div>
</div>